/* src/styles/style.css */
@import '~modern-normalize/modern-normalize.css';

/* npm install modern-normalize --save */

:root {
  line-height: 1.5;
  --backgroundColor: rgb(72, 46, 38);
  --fontColor: rgb(253, 246, 211);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/

body {
    background-color: var(--backgroundColor);
    height: 100svh;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 50px 2fr 1fr 5fr 50px;
}

header{
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: self-start;
}

nav {
  display: flex;
  gap: 30px;
}

button {
  background-color: var(--fontColor);
  font-size: 1.2rem;
  padding: 5px 10px;
  border: 2px transparent solid;
}

button:hover{
  cursor: pointer;
  border: 2px solid black;
}

.logo {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    align-items:center;
    justify-content: center;
}

img { 
    width: 250px;
    height: 250px;
}

#content {
  grid-column: 3;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
