/* src/styles/style.css */
@import '~modern-normalize/modern-normalize.css';

/* npm install modern-normalize --save */

:root {
  line-height: 1.5;
  --backgroundColor: rgb(72, 46, 38);
  --fontColor: rgb(253, 246, 211);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* DANTE CODE HERE -----------*/
